.MainSobrenosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Texto__MainSobrenosotros{
    width: 300px;
    height: 500px;
    @extend .texto-main
    
}
.imgGuitarra{
    width: 250px;
    height: 500px;
}