

@mixin titulo-principal($color-h1, $font-family-primaria, $font-size-h1){
    color: $color-h1;
    font-family: $font-family-primaria;
    font-size: $font-size-h1;

}




body{
    background-color: $color-background-pagina;

    a{
        color: $color-tipografia-primaria;
        font-family: $font-family-secundaria;
    }

    h1{
        @include titulo-principal(white, "vampire-wars", xx-large);
        display: flex;
        justify-content: center;
        margin: 100px;
        top: 50%; 
        right: 50%;
        text-transform: uppercase;
        font-weight: 700;
        text-shadow: 1px 1px 1px #919191,
                1px 2px 1px #919191,
                1px 3px 1px #919191,
                1px 4px 1px #919191,
                1px 5px 1px #919191,
                1px 6px 1px #919191,
                1px 7px 1px #919191,
                1px 8px 1px #919191,
                1px 9px 1px #919191,
                1px 10px 1px #919191,
            1px 18px 6px rgba(16,16,16,0.4),
            1px 22px 10px rgba(16,16,16,0.2),
            1px 25px 35px rgba(16,16,16,0.2),
            1px 30px 60px rgba(16,16,16,0.4);
    }
    .bg-body-tertiary{
        --bs-bg-opacity: 1;
        background-color: $color-background-pagina !important
    }
}
